  <footer id="footer" class="app-footer" role="footer">
    <div class="p bg-white text-xs">
  <div class="pull-right hidden-xs hidden-sm text-muted">
    <strong>HeyMetro</strong> - Built with AngularJS &amp; Bootstrap  &copy; Copyright 2014
  </div>
  <ul class="list-inline no-margin text-center-xs">
    <li>
      <a href="page.document.html">Documents</a>
    </li>
    <li class="text-muted">-</li>    
    <li>
      <a href="#" target="_blank">Purchase</a>
    </li>
  </ul>
</div>
  </footer>
