        <ul class="nav navbar-nav navbar-right m-r-n">
<!-- 
          <li class="dropdown">
            <a href="#" data-toggle="dropdown">
              <i class="glyphicon glyphicon-comment"></i>
              <b class="badge badge-xs bg-warning up">3</b>
              <span class="visible-xs-inline">Notifications</span>
            </a>
            <div class="dropdown-menu no-b-t w-xl">
              <div class="panel bg-white bg-inherit">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span class="count">2</span> notifications</strong>
                </div>
                <div class="list-group list-group-alt">
                  <a href="#" class="list-group-item">
                    <span class="pull-left w-thumb-sm m-r-sm m-t-xs">
                      <img src="images/a1.jpg" alt="..." class="img-responsive">
                    </span>
                    <span class="clear block">
                      Amadar upload a photo to her album<br>
                      <small>7 minutes ago</small>
                    </span>
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="clear block m-b-none">
                      Just signed in<br>
                      <small>1 hour ago</small>
                    </span>
                  </a>
                </div>
                <div class="panel-footer text-sm">
                  <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                  <a href="#notes" data-toggle="class:show animated fadeInRight">See all</a>
                </div>
              </div>
            </div>
          </li>
 -->          
        <% if (user) { %>
          <li class="dropdown">            
            <a href="#" class="clear no-padding-h" data-toggle="dropdown">
              <!-- <img src="images/a0.jpg" alt="..." class="navbar-img pull-right"> -->
              <span class="hidden-sm m-l"><%= user.username %></span>
              <b class="caret m-h-xs hidden-sm"></b>
            </a>
            <ul class="dropdown-menu pull-right no-b-t">
              <li>
                <a href="/user/profile">Profile</a>
              </li>
              <li>
                <a href="page.settings.html">Settings</a>
              </li>
              <li class="divider">
              <li>
                <a href="lockme.html">Lock me</a>
              </li>
              <li>
                <a href="/signout">Logout</a>
              </li>
            </ul>
          </li>
        <% } else { %>
        <li>
            <a href="/signin" class="clear no-padding-h">
              <!-- <img src="images/a0.jpg" alt="..." class="navbar-img pull-right"> -->
              <span class="hidden-sm m-l">Signin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <!-- <b class="caret m-h-xs hidden-sm"></b> -->
            </a>
          </li>
        <% } %>
        </ul>
