<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from heyflat.com/themes/heymetro/html/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 May 2015 14:10:51 GMT -->
<head>
  <meta charset="utf-8" />
  <title>HeyMetro | Responsive Web Admin App with AngularJS And Bootstrap</title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="styles/app.min.css" type="text/css" />

</head>
<body>
<div class="app app-header-fixed">
  

<div class="container">  
  <div class="center-block w-xl w-auto-xs m-b-lg">
    <div class="text-2x m-v-lg text-primary"><i class="glyphicon glyphicon-th-large text-xl"></i> HeyMetro</div>
    <div class="m-b text-sm">
      Sign up to your HeyMetro Account
    </div>
    <form name="form" action='/signup' method="POST">
      <div class="form-group m-b-xs">
        <label class="hide">Name</label>
        <input type="text" placeholder="Your name" class="form-control" ng-model="user.name" name="username" required>
      </div>
      <div class="form-group m-b-xs">
        <label class="hide">Email</label>
        <input type="email" placeholder="Someone@example.com" class="form-control" ng-model="user.email" name="email" required>
      </div>
      <div class="form-group m-b-xs">
        <label class="hide">Password</label>
        <input type="password" placeholder="Password" class="form-control" ng-model="user.password" name="password" required>
      </div>
      <div class="checkbox no-margin">
        <label class="ui-checks">
          <input type="checkbox" ng-model="agree" required><i></i> Agree the <a href="#">terms and policy</a>
        </label>
      </div>
      <button type="submit" class="btn btn-info p-h-md m-v-lg">Sign up</button>
      <p>Already have an account? <a href="/signin">Sign in</a></p>
    </form>
  </div>
</div>
<!-- <div class="app-footer" ng-include="'views/footer.html'"></div> -->


</div>
  <%include footer%>

<script src="scripts/app.min.js"></script>

</body>

<!-- Mirrored from heyflat.com/themes/heymetro/html/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 May 2015 14:10:51 GMT -->
</html>
